<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TelegramBot.AdminPanel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/MyStyle.css" asp-append-version="true"/>
</head>
<body>
    <div class="navbar">
        <ul class="nav_items">
            <li><a href="@Url.Action("Index", "Home")">Users</a></li>
            <li><a href="@Url.Action("ProductsPage", "Home")">Products</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="@Url.Action("Create", "Home")" class="new_product">New Product</a></li>
        </ul>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
