@using TelegramBot.Service.DTOs.User

@model List<UserForResultDto>

<div class="row justify-content-center">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Number</th>
                    <th scope="col">Id</th>
                    <th scope="col">FullName</th>
                    <th scope="col">TelegramId</th>
                    <th scope="col">PhoneNumber</th>
                    <th scope="col">VerificationStep</th>

                </tr>
            </thead>
            @{
                int count = 1;
            }
            <tbody>
                @foreach (var t in Model)
                {

                    <tr>
                        <th class="todos-column" scope="row">@count</th>
                        <th class="todos-column" scope="row">@t.Id</th>
                        <th class="todos-column" scope="row">@t.FullName</th>
                        <th class="todos-column" scope="row">@t.TelegramId</th>
                        <th class="todos-column" scope="row">@t.PhoneNumber</th>
                        <th class="todos-column" scope="row">@t.VerificationStep</th>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
</div>
